.usecallback-container {

    &_h3 {
        font-size: 2rem;
    }

    &_article {
        margin-right: 5rem;

        @media (max-width: 768px) {
            margin-right: 0;
            max-width: 100vw;
        }

        &_h4 {
            font-size: 1.3rem;
        }
    }
}

.usecallback-example {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input {
        color: black;
    }

    button {
        color: black;
    }
}